{% extends 'layout.html' %}
{% block content %}

				<!-- Main -->
					<div id="main">
						<!-- Introduction -->
							<section id="intro" class="main">
{% if not session['address'] %}
<div class="address-box" >
	<br>
	<h2 style="font-weight:bold; margin:0;">Enter your Seattle address to find out what's happening in your neighborhood</h2>

<h3>(street address only do not include city, state or zip)</h3>


									{% if error %}
    <p class=error style="color:red;"> {{ error }}
  {% endif %}
	<form class="form-inline" method="POST" action="{{ url_for('index') }}">
		{{ form.csrf_token }}
  <div class="col-sm-4" style="padding-right:2px; height:30px;  margin:auto;">
    {{form.address(style="width:60%; margin:auto; ") }}
<br>
  {{form.submit(style="background-color:#008CBA; color:white; margin:auto; ") }}

</div>

</form>


    <br>
<p style="padding:1.5em;"> We us the latest data, provide by <a href="https://data.seattle.gov/">Seattle Open Data</a>, to show you what's
	happening in and around your area. From emergency incidents,to crime data, new construction, proposed land use
	actions, and more. Just enter your address to see what's going on around your home or business, or use the
	911, Crime, and Build links above to find more detailed maps and data for those particular areas.
</p>
<ul class="features" style="padding-top:2em; padding-bottom:2em;">
	<li>
		<img src="{{ url_for('static', filename='/images/kindpng_1108202.png') }}" height="250">
		<h3 style="font-weight:bold;">Emergency Events</h3>
		<p style="padding-top:1em; padding-bottom:1em">From medical emergencies, to fire events, gas leaks, and rescue situations. What's the emergency in your neighborhood </p>
		<a href="{{ url_for('emergency') }}" class="button button-front" style="background-color:#008CBA; color:white;">Emergency Events</a></li>

		<li>

			<img src="{{ url_for('static', filename='/images/squatch.jpg') }}" height="250">
			<h3 style="font-weight:bold;">Crime Activity</h3>
			<p style="padding-top:1em; padding-bottom:1em">Find out about what criminal activities are going on around your area, and heatmaps showing where the activity is concentrated.</p>
			<a href="{{ url_for('crime') }}" class="button button-front" style="background-color:#008CBA; color:white;">Crime Activity</a></li>

		<li>
			<img src="{{ url_for('static', filename='/images/wood-cabin.jpg') }}" height="250">
			<h3 style="font-weight:bold;">What's being built?</h3>
			<p style="padding-top:1em; padding-bottom:1em">What's being built in your neighborhood? Information about issued building permits, land use actions, and more.</p>

			<a href="{{ url_for('build') }}" class="button button-front" style="background-color:#008CBA; color:white;">Building</a>

		</li>
		<li>
		<img src="{{ url_for('static', filename='/images/500x500Whistle-clipart.jpg') }}" height="250">
		<h3 style="font-weight:bold;">Code Violations</h3>
		<p style="padding-top:1em; padding-bottom:1em">Find out who's not mowing their lawn, and other nefarious deeds. Current reported code violations, mapped to your neighborhood. With more information, including links
		to the official complaint</p>
		<a href="{{ url_for('violations') }}" class="button button-front" style="background-color:#008CBA; color:white;">Code Violations</a>
		</li>
</ul>
</div>

{% else %}

<div class="container-md address-box">
	<a href="{{ url_for('reset') }}" class="button button-front" style="background-color:#008CBA; color:white; margin:auto; margin:1em; text-align:center;">Reset Address</a>
<h1 style="font-weight:bold; margin:.2em;">Emergency Incidents</h1>
  {{ map1 | safe }}
	<h3 style="padding:1em 3em; line-height:2em;"> Incident data collected over the last 72 hours. A blue target zone is
		projected to highlight all activity within one mile of the address entered. Click on an incident to find out more details.
	Check out the links below for more emergency data maps and analysis.</h3>
	<div  style="margin:auto;">
		<div class="column" style="display:inline;"><a href="{{ url_for('emergency') }}"><img src="{{ url_for('static', filename='/images/graphs/map_911.png') }}" height="100"></a></div>
		<div class="column" style="display:inline;"><a href="{{ url_for('emergency') }}#"><img src="{{ url_for('static', filename='/images/graphs/heatmap_911.png') }}" height="100"></a></div>
		<div class="column" style="display:inline;"><a href="{{ url_for('emergency') }}"><img src="{{ url_for('static', filename='/images/graphs/sunburst_911.png') }}" height="100"></a></div>
		</div>
	<div class="row button-div" style="margin:auto;">
		<a href="{{ url_for('emergency') }}" class="button button-front" style="background-color:#008CBA; color:white; margin:auto; margin-top:1em; margin-bottom:3em;">More 911 Data</a>
	</div>
	</div>




 <div class="container-md address-box">
<h1 style="font-weight:bold; margin:.2em;">Criminal Activity</h1>
  {{ map2 | safe }}
	 <h3 style="padding:1em 3em; line-height:2em;"> Incident data collected over the last 72 hours. A blue target zone is
		projected to highlight all activity within one mile of the address entered. Click on an incident to find out more details.
	 Check out the links below for more criminal activity data maps and analysis.</h3>
	<div  style="margin:auto;">
		<div class="column" style="display:inline;"><a href="{{ url_for('crime') }}"><img src="{{ url_for('static', filename='/images/graphs/map_crime.png') }}" height="100"></a></div>
		<div class="column" style="display:inline;"><a href="{{ url_for('crime') }}#"><img src="{{ url_for('static', filename='/images/graphs/heatmap_crime.png') }}" height="100"></a></div>
		<div class="column" style="display:inline;"><a href="{{ url_for('crime') }}"><img src="{{ url_for('static', filename='/images/graphs/sunburst_crime.png') }}" height="100"></a></div>
		</div>
		<div class="row button-div" style="margin:auto;">
		<a href="{{ url_for('crime') }}" class="button button-front" style="background-color:#008CBA; color:white; margin:auto; margin-top:1em; margin-bottom:3em;">More Crime Data</a>
	</div>
 	</div>


<div class="container-md address-box">
<h1 style="font-weight:bold; margin:.2em;">What's Being Built?</h1>
  {{ map3 | safe }}
	<h3 style="padding:1em 3em; line-height:2em;"> Building activity data based on currently issued building permits.
		A blue target zone is projected to highlight all activity within one mile of the address entered. Click on an activity icon to find out more details,
		including a link to the construction permits. Check out the links below for more local building data maps and analysis.</h3>

</div>

<div class="container-md address-box">
<h1 style="font-weight:bold; margin:.2em;">What's Going to be Being Built?</h1>
  {{ map4 | safe }}
	<h3 style="padding:1em 3em; line-height:2em;"> Current land use proposals for future construction projects registered
		with the city of Seattle. Click on an activity icon to find out more details,
		including a link to the permits. Search for specific neighborhoods, or specific building activity types using the search controls at the top of the map. Check out the links below for more local building data maps and analysis.</h3>
	<div  style="margin:auto;">
		<div class="column" style="display:inline";><a href="{{ url_for('build') }}"><img src="{{ url_for('static', filename='/images/graphs/map_build.png') }}" height="100"></a></div>
		<div class="column" style="display:inline";><a href="{{ url_for('build') }}#"><img src="{{ url_for('static', filename='/images/graphs/heatmap_build.png') }}" height="100"></a></div>
		<div class="column" style="display:inline"; ><a href="{{ url_for('build') }}"><img src="{{ url_for('static', filename='/images/graphs/sunburst_build.png') }}" height="100"></a></div>
		</div>
		<div class="row button-div" style="margin:auto;">
		<a href="{{ url_for('build') }}" class="button button-front" style="background-color:#008CBA; color:white; margin:auto; margin-top:1em; margin-bottom:3em;">More Building Activity Data</a>
	</div>
</div>

<div id="map-pos" class="container-md address-box" >
<h1 style="font-weight:bold; margin:.2em;">Code Violations :(</h1>
  {{ map5 | safe }}
	<h3 style="padding:1em 3em; line-height:2em;"> Reported code violation data collected over the last 60 days. See who's not mowing their lawn, who's the neighborhood hoarder, and
	other even more nefarious deeds. Click on an incident to find out a description of the alleged violation, the report date
	and more.</h3>
	<div class="row" style="margin:auto; width:39%">
		<a href="{{ url_for('violations') }}" class="button button-front" style="background-color:#008CBA; color:white; margin:auto; margin-top:1em; margin-bottom:3em;">More Code Violation Data</a>
	</div>
</div>


{% endif %}

					</div>
{% endblock %}}