<nav style="width:100%;" class="topnav" id="nav">
  <ul>


    <li class="{% if active=='home' %}active{%endif %}"><a href="{{ url_for('index') }}" >Home</a></li>
    <li class="{% if active=='emergency' %}active{%endif %}"><a href="{{ url_for('emergency') }}" >911</a></li>
    <li class="{% if active=='crime' %}active{%endif %}"><a href="{{ url_for('crime') }}" >Crime</a></li>
    <li class="{% if active=='build' %}active{%endif %}"><a href="{{ url_for('build') }}" >Build</a></li>
    <li class="{% if active=='violations' %}active{%endif %}"><a href="{{ url_for('violations') }}" >Violations</a></li>

  </ul>
</nav>